name: Run tests
on: [push]
jobs:
  run-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '8'
      - uses: DeLaGuardo/setup-clojure@13.4
        with:
          cli: 1.12.4.1582

      - name: Deps cache
        uses: actions/cache@v5
        with:
          path: |
            ~/.m2
            ~/.gitlibs
          key: ${{ runner.os }}-deps-${{ hashFiles('**/deps.edn') }}

      - name: Install deps
        run: clojure -A:run-tests -P

      - name: Run tests
        run: clojure -X:run-tests
